<div class="container" style="padding-top: 10px;" style="height: 600px;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 600px;">
        <div class="row">
            <div style="text-align: center;">
                <div class="contenedor_loteria_imagen"></div>
            </div>
        </div>
        <div class="row">
            
        </div>

        <app-generarloteria #numero1></app-generarloteria>
        <app-generarloteria #numero2></app-generarloteria>

        <img (click)="numero1.obten_numero_loteria();numero2.obten_numero_loteria()"
            src="../../../assets/imagenes/loteria/bombo.png" width="200px" height="200px" style="float:left">
        <div *ngIf="(numero1.digito==numero2.digito)&&(numero1.digito!=null)&&(numero2.digito!=null)">
            <img src="../../../assets/imagenes/loteria/premio.gif" width="600px" height="200px" style="float:left">
        </div>
    </div>
</div>