<div class="container" style="padding-top: 10px;">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
       
        <div [hidden]="editarok==null" class="alert alert-success" role="alert">
          <p>{{editarok}}</p>
        </div>
        <div class="row">
          <div class="col-4">
            <img *ngIf= "perfil.imgSrc != null;else noimg" src="{{perfil.imgSrc}}" width="150px" height="150px">
            <ng-template #noimg>
                <img src="/assets/imagenes/no-imagen.jpg" width="150px" height="150px">
            </ng-template>
          </div>
          <div class="col-8" style="padding-left: 15px;">
            <p class="card-text"><b>Email:</b> {{perfil.nombre}}</p>
            <p class="card-text"><b>Email:</b> {{perfil.apellidos}}</p>
            <p class="card-text"><b>Email:</b> {{perfil.email}}</p>
            <p class="card-text"><b>Telefono:</b> {{perfil.telefono}}</p>
            <p class="card-text"><b>DNI:</b> {{perfil.dni}}</p>
          </div>
        </div>
        <br>
        <button (click)="mostrarEditar=!mostrarEditar;mostrarEliminar=false" class="btn btn-primary" style="margin-right: 5px;">Editar</button>
        <button (click)="mostrarEliminar=!mostrarEliminar;mostrarEditar=false" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="mostrarEditar" style="padding-top: 10px;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card">
        <div class="container">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="padding-top: 5px;">
              <div [hidden]="editarerr==null" class="alert alert-danger" role="alert">
                <p>{{editarerr}}</p>
              </div>
              <form [formGroup]="formPerfil" (submit)="editarPerfil()">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="perfil.nombre"
                    placeholder="Nombre...">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="apellidos" [(ngModel)]="perfil.apellidos"
                    placeholder="Apellidos...">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="password" [(ngModel)]="perfil.password"
                    placeholder="Contraseña...">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="email" [(ngModel)]="perfil.email"
                    placeholder="Email...">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="telefono" [(ngModel)]="perfil.telefono"
                    placeholder="Telefono...">
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Guardar cambio</button>
                </div>

              </form>
              <button (click)="mostrarEditar=!mostrarEditar" class="btn btn-success btn-block" style="margin-bottom: 5px;">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="mostrarEliminar" style="padding-top: 10px;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card">
        <div class="card-header h5 text-center">Para eliminar tu perfil introduce tu e-mail</div>
        <div class="card-body">
          <input type="text" [(ngModel)]="inputBorrar" class="form-control"><br>
          <div class="form-group">
            <button [disabled]="inputBorrar!=perfil.email" class="btn btn-danger btn-block"
              (click)="borrarPerfil()">Guardar
              cambio</button>
          </div>
          <button (click)="mostrarEliminar=!mostrarEliminar" class="btn btn-success btn-block" style="margin-bottom: 5px;">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="imagenerr==null" class="alert alert-danger" role="alert">
    <p>{{imagenerr}}</p>
  </div>
  <div class="container" style="padding-top: 10px;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="padding: 8px;">
            <form [formGroup]="formImagen" (ngSubmit)="subirImagen()">
                <input type="file" formControlName="imagen" (change)="cambiaImagen($event)"><br><br>
                <button type="submit" class="btn btn-primary btn-block">Subir imagen de perfil</button>
              </form>
              <br>
              <input type="file" (change)='tengoFoto($event)'><br>
              <button type='button' class="btn btn-primary btn-block" (click)='subirFoto()'>Subir imagen por parámetros</button>
        </div>
    </div>
  </div>
</div>
